*{
    box-sizing: border-box;
    margin: 0;
}

.navbar{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vh 6vh;
    transition: all .3s ease-in;
}
.navbar.scrolled{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(9.1px);
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 400;
    font-size: 1.2rem;
}
.nav-links li a{
    text-decoration: none;
    color:#000 ;
    white-space: nowrap;
}
.nav-button{
    width:10rem;
    height: 3rem;
    border: none;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}
@media (max-width: 1000px) {
    .navbar{
        height: 25vh;
        padding: 1vh 3vh;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .nav-links{
       width:100%;
       max-width: 40rem;
       gap: 1px;
       padding: 0;
       font-size: 1.1rem;
    }
}